{% extends "appbuilder/base.html" %}
{% block content %}

<div class="container">
    <a class="btn btn-primary" href="/login/">Login </a>
    <a class="btn btn-primary btn-large" href="/register/form">Create an Account</a>
</div>
<div class="jumbotron">
    <div class="container">Title of the Home Page (Change This myindex.html)</div>
    <div class="container">
        <div style="text-align: center;">
            <img src="{{url_for('static', filename='auda_logo.jpg')}}" width="700" height="250">
        </div>

        <h2>{{_("African Digital Marketplace -> v.0.0.1")}}</h2>
        <h3>
            Welcome to the African Digital Marketplace - the one-stop center empowering African entrepreneurs to do
            business worldwide. Get up-to-date info, promote unique goods, access complete business opportunities,
            and advertise services to the global market. Join us to execute transactions seamlessly, enjoy the best of
            Africa,
            and be part of the new dawn!
        </h3>
        <p>
        <div class="container">

            <!--      <p>-->
            <!--        >      ADM is AUDA-NEPAD's  Digital Town Hall where up to date and current information about its programs and services shall be accessible to all stakeholders and 			beneficiaries of its programs, such as the 100,000MSMEs and Energize Africa Initiatives; and AUDA-NEPAD shall support AU Member States  to create and use 		their Country Digital Marketplaces (“CDMs”) to promote intra African trade and investment; develop and implement reforms designed to create enabling business 		environment and promote Intra African trade, investment and integration.-->
            <!--      </p>-->
            <!--      <p>-->
            <!--	  >      ADM/CDMs shall provide African Governments national and continental digital infrastructure to  promote its best trade and investment opportunities and other 			  unique goods and services it has to offer to national, regional, continental and international investors, including Africa’s Diaspora. Countries shall utilize ADM to 		  share best practices and carryout reforms aimed at promoting intra African trade and investment, including integration.-->
            <!--      </p>-->
            <!--      <p>-->
            <!--	  >	  The African Diaspora and foreign investors shall utilize the African Digital Marketplace and the Country Digital Marketplaces ("ADM/CDMs”) to access uptodate, 		  accurate and complete business and investment  opportunities in African country  markets of interest and to receive technical services from competent service 			  providers to guide investors.-->
            <!--      </p>-->
            <!--      <p>-->
            <!--	  >      For the African Entrepreneur, large and small, ADM/CDMs shall be the Digital Marketplace to advertise the goods and services it has to offer or it seeks to acquire, 		  from its national markets, or from regional and continental  markets and beyond; ADM/CDMs shall provide information about service providers whose capabilities 		  will be verified by their national authorities before they are allowed to advertise and offer their goods and services  on the ADM/CDMs, thus creating trust and 			  confidence.-->
            <!--      </p>-->
            <p>
                The ultimate mission of the ADM/CDMs is to provide the African entrepreneurs and their global
                counterparts, especially the African Diaspora, unique, secure and readily accessible market place where
                buyers and sellers connect and exchange goods, products, and services in efficient and convenient
                environment.
                Register and create your private profile to showcase your offerings to the global market, including
                uploading images and description of your products and services; avail yourself the use of the ADM
                Transaction Settlement Services to execute and close transactions seamlessly and cost effectively; and
                join the African Digital Common Market Family and enjoy the very best Africa has to offer.
            </p>
            <p>
                It is a New Dawn, Be Part of It!
            </p>

        </div>
    </div>
</div>

<hr>

<div class="container">
    <div class="container">
        This is a demo system and input, discussion and feedback is solicited. Copyright &copy; Datacraft, 2021
    </div>
</div>

<!-- Footer -->
<footer>
    <div class="row">
        <!--                <div class="col-lg-12">-->

        <!--                </div>-->
    </div>
</footer>
{% endblock %}
