alabaster==0.7.12
aniso8601==7.0.0
antlr4-python3-runtime==4.12.0
antlr4-tools==0.2
apispec==5.2.2
# Editable Git install with no remote (appgen==0.0.1)
-e /Volumes/Media/src/pjs/appgen
attrs==21.4.0
Babel==2.10.1
bandit==1.7.4
beautifulsoup4==4.11.1
black==22.3.0
bleach==6.0.0
bokeh==2.4.3
certifi==2022.5.18.1
cfgv==3.3.1
chardet==5.1.0
charset-normalizer==3.1.0
cli-helpers==2.3.0
click==8.1.3
colorama==0.4.4
commonmark==0.9.1
configobj==5.0.8
coverage==6.4.1
darglint==1.8.1
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
distlib==0.3.4
dnspython==2.3.0
docopt==0.6.2
docutils==0.17.1
dparse==0.5.1
elastic-transport==8.4.0
elasticsearch==8.6.2
email-validator==1.3.1
filelock==3.7.1
flake8==4.0.1
flake8-bandit==3.0.0
flake8-bugbear==22.4.25
flake8-docstrings==1.6.0
flake8-polyfill==1.0.2
flake8-rst-docstrings==0.2.5
Flask==2.2.3
Flask-AppBuilder==4.3.1
Flask-Babel==2.0.0
Flask-BabelPkg==0.9.6
Flask-Ext==0.1
Flask-GraphQL==2.0.1
Flask-JWT-Extended==4.4.4
Flask-Limiter==3.3.0
Flask-Login==0.6.2
Flask-OpenID==1.3.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.1.1
furo==2022.4.7
GeoAlchemy2==0.13.1
geographiclib==2.0
geopy==2.3.0
gitdb==4.0.9
GitPython==3.1.27
graphene==2.1.9
graphene-sqlalchemy==2.3.0
graphql-core==2.3.2
graphql-relay==2.0.1
graphql-server-core==1.2.0
greenlet==2.0.2
humanize==4.6.0
identify==2.5.1
idna==3.3
imagesize==1.3.0
importlib-metadata==6.1.0
inflection==0.5.1
iniconfig==1.1.1
install-jdk==1.0.4
isort==5.10.1
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.17.3
limits==3.2.0
livereload==2.6.3
Markdown==3.4.3
markdown-it-py==2.1.0
MarkupSafe==2.1.1
marshmallow==3.19.0
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==0.26.1
mccabe==0.6.1
mdit-py-plugins==0.3.0
mdurl==0.1.1
mpmath==1.3.0
mypy==0.960
mypy-extensions==0.4.3
myst-parser==0.17.2
networkx==3.1
nodeenv==1.6.0
numpy==1.24.2
ordered-set==4.1.0
packaging==21.3
panel==0.14.4
param==1.13.0
pathspec==0.9.0
pbr==5.9.0
pendulum==2.1.2
pep8-naming==0.13.0
pgcli==3.5.0
pgspecial==2.0.1
Pillow==9.4.0
pipreqs==0.4.11
platformdirs==2.5.2
plotly==5.13.1
pluggy==1.0.0
pre-commit==2.19.0
pre-commit-hooks==4.2.0
prison==0.2.1
promise==2.3
prompt-toolkit==3.0.38
psycopg==3.1.8
psycopg2==2.9.5
py==1.11.0
pycodestyle==2.8.0
pyct==0.5.0
pydantic==1.10.6
pydbml==1.0.7
pydocstyle==6.1.1
pydot==1.4.2
pyflakes==2.4.0
Pygments==2.12.0
PyJWT==2.6.0
pyparsing==3.0.9
pyrsistent==0.19.3
pytest==7.1.2
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2022.1
pytzdata==2020.1
pyupgrade==2.32.1
pyviz-comms==2.2.1
PyYAML==6.0
requests==2.28.2
restructuredtext-lint==1.4.0
rich==12.6.0
ruamel.yaml==0.17.17
ruamel.yaml.clib==0.2.6
Rx==1.6.3
safety==1.10.3
setproctitle==1.3.2
shellingham==1.5.0.post1
simplejson==3.18.3
singledispatch==3.7.0
six==1.16.0
smmap==5.0.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
speaklater==1.3
Sphinx==4.3.2
sphinx-autobuild==2021.3.14
sphinx-click==4.1.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.41
SQLAlchemy-Continuum==1.3.14
sqlalchemy-mixins==1.5.3
SQLAlchemy-Searchable==1.4.1
SQLAlchemy-Utils==0.40.0
sqlalchemy2-stubs==0.0.2a32
sqlmodel==0.0.8
sqlparse==0.4.3
stevedore==3.5.0
sympy==1.11.1
tabulate==0.9.0
tenacity==8.2.2
tokenize-rt==4.2.1
toml==0.10.2
tomli==2.0.1
torch==2.0.0
torchaudio==2.0.1
torchvision==0.15.1
tornado==6.1
tqdm==4.65.0
typeguard==2.13.3
typer==0.7.0
typing_extensions==4.2.0
urllib3==1.26.9
validators==0.20.0
virtualenv==20.14.1
wcwidth==0.2.6
webencodings==0.5.1
Werkzeug==2.2.3
wrapt==1.15.0
WTForms==3.0.1
xdoctest==1.0.0
yarg==0.1.9
zipp==3.8.0
